<!doctype html>
<html lang="en"  xmlns="http://www.thymeleaf.org"
 th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">Change password</title>
</head>
<body>
	
	<section class="" >
		<div id="login" class="shadow-lg   ">
        
        <div class="container ">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12 " style="height: 200px;">
<!--                    forgot email form   --> 
						
							
                   			
                   			<form action="" th:action="@{/newpassword}" method="post">
								   <h1>enter new password</h1>
								   <div class="form-group">
									   <input required name="password" type="text" placeholder="enter new password here" class="form-control" />
								   		
								  <div class="container text-center mt-3">
									   <button type="submit" class="btn btn-success"> change password</button>
								  </div>
								   
								   </div>
							   </form>
							
                    </div>
                </div>
            </div>
        </div>
    </div>
	 </section>
</body>
</html>