<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:fragment="Layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="" th:href="@{/CSS/style.css}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title th:text="${title}">Base Page</title>
    
  </head>
  <body>
	
	  <!--this is nav baar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light bg-primary"  >
   <a class="navbar-brand"  href="#" style="color: whitesmoke;" >Smart Contact Manager</a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav flex ml-auto text-uppercase">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}" href="#"  style="color: whitesmoke;"> Home</a>
      </li>
      
      
      <li class="nav-item">
        <a class="nav-link" href="#"  style="color: whitesmoke;">About</a>
      </li>
       <li class="nav-item">
         <p th:text="${user.name}" class="nav-link" style="color: whitesmoke;">username</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}" href="#"  style="color: whitesmoke;">Logout</a>
      </li>
     
  
  </div>
</nav>
<!--end nava bar-->

<!--this is side bar -->
 <div class="sidebar mt-2 " >
	 
	 <span th:onclick="toggleSidebar()"  class="crossbtn" >&times;</span>
	 
	 <a href="" class="item" th:href="@{/user/index}"> <i class="fa-solid fa-house"></i>  <span style="padding-left: 10px;">  Home</span></a>
	 <a href="" class="item" th:href="@{/user/view-contact/0}"><i class="fa-solid fa-eye"></i><span style="padding-left: 10px;">  View Contacts</span></a>
	 <a href="" class="item" th:href="@{/user/add-contact}"> <i class="fa-regular fa-address-book"></i> <span style="padding-left: 10px;" >  Add Contacts</span></a>
	 <a href="" class="item" th:href="@{/user/profile}"> <i class="fa-solid fa-user"></i> <span style="padding-left: 10px;">  Your profile</span></a>
	 <a href="" class="item" th:href="@{/user/openSetting}"> <i class="fa-sharp fa-solid fa-gear"></i><span style="padding-left: 10px;">  setting</span></a>
	 <a href="" class="items" th:href="@{/logout}"> <i class="fa-sharp fa-solid fa-right-from-bracket"></i><span style="padding-left: 10px;">  Logout</span></a>
	 <div class="divider"></div>
	 
 </div>
 
 
 
 <!--this is content area-->
 <div class="content" style="margin-top: 65px;" >
	 
	 	<i  th:onclick="toggleSidebar()" class="fas fa-bars"  style="margin-top: 15px;" ></i>
	 
	     <div class="bgall" th:replace="${content}">
 </div>
 <!--end of content area-->
		
		
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script scr="" th:src="@{/javascript/script.js}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
  <script>
	  function deleteContact(cid)
	  {
		  swal({
  title: "Are you sure?",
  text: "you want delete this contact",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    window.location="/user/delete/"+cid;
  
  } else {
    swal("Your contact is safe");
  }
});
	  }
  </script>
  
  
  
  
  
  
  
  
  </body>
</html>